<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pratush.docfinder" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activities.MapsActivity"
            android:label="@string/title_activity_maps" >
        </activity>
        <activity
            android:name=".activities.SplashScreenActivity"
            android:label="@string/title_activity_splash_screen"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activities.UserTypeActivity"
            android:label="@string/title_activity_user_type" >
        </activity>
        <activity
            android:name=".activities.NoInternetActivity"
            android:label="@string/title_activity_no_internet" >
        </activity>
        <activity
            android:name=".activities.HomeScreenActivity"
            android:label="@string/title_activity_home_screen" >
        </activity>
        <activity
            android:name=".activities.DoctorsListActivity"
            android:label="@string/title_activity_doctors_list" >
        </activity>
        <activity
            android:name=".activities.DocTypeActivity"
            android:label="@string/title_activity_doc_type" >
        </activity>
        <activity
            android:name=".activities.ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name=".activities.DocAppointmentActivity"
            android:label="@string/title_activity_doc_appointment" >
        </activity>
        <activity
            android:name=".activities.BookAppointmentActivity"
            android:label="@string/title_activity_book_appointment" >
        </activity>
        <activity
            android:name=".activities.ThankyouActivity"
            android:label="@string/title_activity_thankyou" ></activity>
        <activity
            android:name=".activities.UserAppointmentActivity"
            android:label="@string/title_activity_user_appointment">
        </activity>
    </application>

</manifest>
